.selected-lang img {
  margin-right: 10px;
}

.icons_container img {
  margin-bottom: 0.5em;
}

.lang-menu {
  margin-right: 1em;
  width: 100px;
  text-align: right;
  font-weight: bold;
  position: relative;
}
.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  line-height: 3;
  cursor: pointer;
}
.lang-menu .selected-lang:before {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu ul li a:before {
  margin-top: 0.6em;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.cz {
  background-image: url("../icons/cz.svg");
  vertical-align: middle;
}

.us:before {
  background-image: url("../icons/us.svg");
  vertical-align: middle;
}

.lang-menu:hover ul {
  display: block;
}
